/anaconda/anaconda/
/anaconda/images/sportimages/
/anaconda/images/sportimages/__MACOSX/sportimages/
/cnn_animals/images/
/cnn_animals/dataset_procesado/
/cnn_animals/modelo_animales.optimizado.h5
/fine_tunning/mi_modelo_q4.gguf
/x_scrapping_datasets/
/dataset_final/
/videos_animales/
/iaenv/
/iaenv311/
/RAG/dataset_rag/
/RAG/chroma_db_proyecto/

*.jpg
*.jpeg
*.png
